on:
  push:
    branches:
      - master

name: Deploy to Amazon ECS 
jobs:
  deployment:
    name: Deploy New version of App to ECS 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
    
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: render-task-definition and update service
        run: |
          aws ecs register-task-definition --family multi-docker-task-definition --cli-input-json file://task-definition.json
          aws ecs update-service --cluster multi-docker --service multi-docker-service --task-definition multi-docker-task-definition:latest
