on:
  push:
    branches:
      - master

name: Apdate multi images docker React App and deploy it to Amazon ECS 
jobs:
  build_test_push:    
    name: Test&build and push new images to Dockerhub
    runs-on: ubuntu-latest
    steps:
      - name: Git clone our REPO
        uses: actions/checkout@v2
      #- name: Test phase 
        #run: |
           #docker build -t kosdockerid/react-test -f ./client/Dockerfile.dev ./client
           #docker run kosdockerid/react-test npm test -- --coverage
    
      - name: update DB Credentials&Endpoints
        run: |
          sed -i "s/POSTGRES_USER/${{ secrets.POSTGRES_USER }}/g" task-definition.json
          sed -i "s/POSTGRES_PASSWORD/${{ secrets.POSTGRES_PASSWORD }}/g" task-definition.json
          sed -i "s/POSTGRESS_HOST/${{ secrets.POSTGRESS_HOST }}/g" task-definition.json
          sed -i "s/REDIS_ENDPOINT/${{ secrets.REDIS_ENDPOINT }}/g" task-definition.json
          sed -i "s/POSTGRES_DB/${{ secrets.POSTGRES_DB }}/g" task-definition.json
          cat task-definition.json
